html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  border: 1px solid red;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid yellow;
  display: flex;
  margin: 0 auto;
  /* padding: 0 10px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.logo {
  img {
    margin-left: 70px;
  }
}

.contact-list {
  margin-right: 80px;
}

.lists {
  display: flex;
  /* justify-content: space-evenly; */
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
  li {
    margin-right: 40px;
    cursor: pointer;
  }

  .book-a-call {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 13px;
      height: 13px;
    }
  }
}

.main {
  width: 100%;
  border: 1px solid red;
}

.main-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid blue;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  /* padding-top: 20px; */
  height: 90%;

  .first-main {
    display: grid;
    border: 1px solid pink;
    width: 712px;
  }
}
.text {
  h1 {
    font-size: 72px;
    margin-bottom: 27px;

    span {
      color: #ff8a56;
    }
  }

  /* font-weight: 700; */
}

.text {
  p {
    font-size: 22px;
    font-weight: 400;
    color: #666666;
  }
}

.download-cv {
  background-color: white;
  color: black;
}

.btn-con {
  button {
    width: 151px;
    height: 58px;
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    color: white;
  }
}

.second-main {
  width: 500px;
  height: 595px;
  border: 1px solid orange;
}

.sponsors {
  width: 100%;
  border: 1px solid red;
}

.sponsors-container {
  width: 100em;
  max-width: 1300px;
  border: 1px solid green;
  margin: 0 auto;
}

.h1-text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  img {
    width: 141px;
    height: 25px;
  }
}

.services {
  margin-top: 76px;
  width: 100%;
  border: 1px solid red;
}

.services-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid green;
  margin: 0 auto;
}

.service-text {
  text-align: center;
  font-size: 54px;
  margin: 0 auto;
  font-weight: bold;
  font-weight: 700;
}

.service-span {
  font-size: 22px;
  /* display: flex; */
  text-align: center;
  text-transform: uppercase;
  color: #ff5e69;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
}

.service-skills {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  line-height: 28px;

  img {
    width: 70px;
    height: 70px;
  }
}
.bold {
  font-weight: bold;
}

.grayish {
  color: #666666;
}

.skill {
  width: 306px;
  height: 381px;
  border: 1px solid red;
}

.what {
  font-size: 24px;
}

.projects {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  span {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b16cea;
  }

  p {
    font-size: 54px;
    margin: 16px 0 0 0;
    /* margin-top: 16px; */
    font-weight: bold;
    line-height: 59.4px;
    letter-spacing: 1px;
  }

  button {
    width: 201px;
    height: 58px;
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    color: white;
  }
}

.footer {
  width: 100%;
  border: 1px solid red;
  background-color: black;
}

.footer-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 50px;
}

.ready {
  font-weight: bold;
  font-size: 54px;
  line-height: 59.4px;
  letter-spacing: 1px;
  margin: 175px 0 80px 0;

  p:first-child {
    color: white;
    margin: 0;
  }
  p {
    color: #3c46ff;
    margin: 0;
  }
}

.contact-footer{
  color: #5C5C5C;
  line-height: 36px;
  font-size: 17px;
  font-style: regular;
  img{
    /* margin-bottom: 14px; */
  };
  p{
  margin: 0;

  }
}
