html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  border: 1px solid red;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid yellow;
  display: flex;
  margin: 0 auto;
  /* padding: 0 10px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.logo {
  img {
    margin-left: 70px;
  }
}

.contact-list {
  margin-right: 80px;
}

.lists {
  display: flex;
  /* justify-content: space-evenly; */
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
  li {
    margin-right: 40px;
    cursor: pointer;
  }

  .book-a-call {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 13px;
      height: 13px;
    }
  }
}

.main {
  width: 100%;
  border: 1px solid red;
}

.main-container {
  width: 100%;
  max-width: 1300px;
  border: 1px solid blue;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  /* padding-top: 20px; */
  height: 90%;

  .first-main {
    display: grid;
    border: 1px solid pink;
    width: 712px;
  }
}
.text {
  h1 {
    font-size: 72px;
    margin-bottom: 27px;

    span {
      color: #ff8a56;
    }
  }

  /* font-weight: 700; */
}

.text {
  p {
    font-size: 22px;
    font-weight: 400;
    color: #666666;
  }
}

.download-cv {
  background-color: white;
  color: black;
}

.btn-con {
  button {
    width: 151px;
    height: 58px;
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    color: white;
  }
}

.second-main{
    width: 500px;
    height: 595px;
    border: 1px solid orange;
}
